//
   Created by seonaid on 15-03-10.

extends layout

block content
    .container
        .row
            .col
                h1 Add food to your fridge
                form(method = "post", action="/add_food")
                    .input-field
                        input(type="text", placeholder="What do you have to eat?", name = "food_name")
                    .input-field
                        input(type="text", placeholder = "Eat within", name = "how_many")
                    .input-field
                        select(name="time_period")
                          option.disabled.selected(value="") Time period
                          option(value="days") Days
                          option(value="weeks") Weeks
                          option(value="months") Months
                    button.btn Add  
                    a.btn.right(href="/fridge") Fridge
