//
   Created by seonaid on 14-11-24.
extends layout

block content
   .container
      .login.group
         h2 Login
         .row
            .col.m12
               form(method = "post" action="/login")
                  .input-field
                     input#email.validate(name="email", type="email", placeholder = "email")
                     #response
                        if message
                           p #{message}
                     input(type = "hidden" value= redirect name = "redirect")
                  div
                     p
                        input#password(type = "password", name = "password", placeholder = "Password")
                     p
                        input.btn.right(type = "submit", value = "Log In")

         .row
            .col.m12
               p
                  a.right(href="./register") I don't have an account.